.navbar-brand {
  padding: 5px;
}
.navbar-brand img {
  max-width: 120px;
}

#footer {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 20px;
  margin-top: 50px;
}

main {
  min-height: calc(100vh - 200px);
}

#sign-in,
#sign-up {
  text-align: center;
  max-width: 620px;
}
#sign-in h1,
#sign-up h1 {
  margin-bottom: 40px;
}
#sign-in .form-actions,
#sign-up .form-actions {
  margin-top: 30px;
}
